{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- about -->
    <section class = "about" id = "about">
        <div class = "container">
          <div class = "about-content">
            <div>
              <img src = "\static\css\images\about-bg.jpg" alt = "">
            </div>
            <div class = "about-text">
              <div class = "title">
                <h2>Zhaniya & Yernar</h2>
                <p>Matematikasyz omir joq.</p>
              </div>
              <p>Balanyń ıntellektýaldy damýy onyń psıhoemosıonaldy jáne fızıkalyq qalyptasýy sıaqty mańyzdy. Sondyqtan analar men ákeler ózderiniń muragerlerin matematıka, shet tilderi, sýret salý, án aıtý jáne basqa da aqyl-oı jáne shyǵarmashylyq pánderge bala kezinen úıretýge tyrysady. Biraq olarda birden kóptegen suraqtar týyndaıdy. Eresekter tańdaǵan taqyrypty ıgerýge súıikti balanyń qanshalyqty beıim ekenin qalaı túsinýge bolady? Sabaqtyń qaı formaty ońtaıly? Sabaqty qaı jasta bastaý kerek? Tálimgermen nemese óz josparyńyzben aınalysasyz ba?</p>
              <p>Olarǵa jaýaptardy jas paıdalanýshylarǵa ártúrli baǵyttar boıynsha bilim beretin ınternet-platformalarǵa kirý arqyly tabýǵa bolady. Biz siz úshin eń jaqsy oqý materıaldaryn jınadyq.</p>
          </div>
          </div>
      </div>
      </section>
    </header>
      <!-- end of about -->
{% endblock %}
